<a href="https://colab.research.google.com/github/st101cc/reddit/blob/main/ex_PyMongoDB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ST207 - Databases
## Week 8 - NoSQL databases - MongoDB

This notebook is based on the MongoDB documentation and examples.

---

## Step 1 - Setup

We need to install the PyMongo library and load it.

In [ ]:
# run this to install PyMongo on your Google Colab notebook
!pip install "pymongo[srv]"

Collecting pymongo[srv]
  Downloading pymongo-4.6.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (677 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 677.1/677.1 kB 5.6 MB/s eta 0:00:00
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo[srv])
  Downloading dnspython-2.4.2-py3-none-any.whl (300 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 300.4/300.4 kB 6.9 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.4.2 pymongo-4.6.0

In [ ]:
# importing necessary libraries
# put any other libraries here
import pymongo

---
## Step 2 - Connecting to Atlas cluster and the database

This step requires that you have:
* a Atlas cluster (M0 instance) running
* a database deployed at your cluster
* a registered username and password for the connection string

### 2.1) Retrieving the IP address of your machine

We need to add the machine runing the code into the `IP Access List` of the Atlas cluster. See the cell below.

In [ ]:
# retrieving the IP address of this Colab notebook.
# IMPORTANT: make sure you add this IP to your Atlas cluster IP address list => see Network Access on Atlas
!curl ipecho.net/plain

34.135.135.253

### 2.2) Retrieving your connection string from Atlas

* Go to Atlas and click on `Databases` (left panel) and the `Connect` button.
* Go to `Drivers` and pick `Python` as the driver.
* See item 3 and copy/paste your connection string in the cell below.

### Step 2.3) Connecting to the database

* Replace `<password>` with the password registered on Atlas

In [ ]:
# creating a connection to your cluster and database
# check on your MongoDB Atlas connection tab the string you need to use for connecting to your cluster.
# remember to check the Network Access tab and adding your IP address *EVERY TIME* you change your network connection
# important parameters: username, password, cluster name, and database name

myclient = pymongo.MongoClient("mongodb+srv://mebarreto:LSE_st207_aT2023@meb-cluster0.uxy3y6t.mongodb.net/?retryWrites=true&w=majority")
myclient

MongoClient(host=['ac-zgdimgq-shard-00-02.uxy3y6t.mongodb.net:27017', 'ac-zgdimgq-shard-00-01.uxy3y6t.mongodb.net:27017', 'ac-zgdimgq-shard-00-00.uxy3y6t.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-7awwtm-shard-0', tls=True)

Let's test whether our connection is working.

In [ ]:
# we can retrieve the list of existing databases from your cluster
# even if we use a specific database for connecting to the server, you can still
# retrieve all the databases and change to other databases
print(myclient.list_database_names())

['WEEK8', 'sample_airbnb', 'sample_analytics', 'sample_geospatial', 'sample_guides', 'sample_mflix', 'sample_restaurants', 'sample_supplies', 'sample_training', 'sample_weatherdata', 'admin', 'local']

---

## Step 3 - Creating a new database and collection

This is just a toy example to introduce some API functions. Notice that we did the same operation using the Database (Web) interface on Atlas.

In [ ]:
# you can create a new database => NewDB in this example
mydb = myclient["NewDB"]

In [ ]:
# we can create a new collection => customers in this example
mycol = mydb["customers"]

### 3.1) Inserting and retrieving documents

In [ ]:
# creating an example document
newDoc = { "userId" : 1, "name": "Peter Pan", "address": "Highway 37" }

In [ ]:
# inserting one document into the collection
x = mycol.insert_one(newDoc)
# checking the object id for the new document
print("Object ID for the new document:", x.inserted_id)

Object ID for the new document: 6555fa9120bb43ebd8fd6e03

The most basic type of query that can be performed in MongoDB is `find_one()`. This method returns a single document matching a query (or `None` if there are no matches). It is useful when you know there is only one matching document, or are only interested in the first match. Here we use `find_one()` to get the first document from the **customers** collection:

In [ ]:
# retrieving the first document from our collection
person1 = mycol.find_one( { "userId" : 1 } )
print("Document:", person1)

Document: {'_id': ObjectId('6555fa9120bb43ebd8fd6e03'), 'userId': 1, 'name': 'Peter Pan', 'address': 'Highway 37'}

In [ ]:
# bulk insert
# we can insert a given number of documents, and each document can have a slightly different structure

import datetime

# documents to be inserted into the collection
newDocs = [{"userId": 10,
            "name": "Mike",
            "address": "Street One, 12",
            "date": datetime.datetime(2021, 11, 24, 11, 0)},
           {"userId": 11,
            "name": "Eliot",
            "address": "Street Two, 20",
            "email": "eliot@someplace.com",
            "date": datetime.datetime(2021, 11, 25, 11, 10)},
           {"userId": 12,
            "name": "Mary",
            "address": "Street Two, 45",
            "email": "mary@someplace2.com",
            "date": datetime.datetime(2021, 11, 25, 11, 10)},
           {"userId": 13,
            "name": "Ana",
            "address": "High Street, 200",
            "date": datetime.datetime(2021, 11, 26, 11, 20)},
           {"userId": 14,
            "name": "Billy",
            "address": "Street One, 50",
            "email": "billy@someplace2.com",
            "date": datetime.datetime(2021, 11, 27, 11, 10)},
           {"userId": 15,
            "name": "Karl",
            "address": "Street Two, 2001",
            "date": datetime.datetime(2021, 11, 27, 11, 20)},
           {"userId": 16,
            "name": "Bia",
            "address": "Street One, 5000",
            "email": "bia@someplace2.com",
            "date": datetime.datetime(2021, 11, 28, 11, 10)}]

# bulk insertion
result = mycol.insert_many(newDocs)
# checking
result.inserted_ids

[ObjectId('6555fb1420bb43ebd8fd6e04'),
 ObjectId('6555fb1420bb43ebd8fd6e05'),
 ObjectId('6555fb1420bb43ebd8fd6e06'),
 ObjectId('6555fb1420bb43ebd8fd6e07'),
 ObjectId('6555fb1420bb43ebd8fd6e08'),
 ObjectId('6555fb1420bb43ebd8fd6e09'),
 ObjectId('6555fb1420bb43ebd8fd6e0a')]

In [ ]:
# retrieving a particular document based on some search criteria
import pprint

pprint.pprint(mycol.find_one({"name": "Ana"}))

{'_id': ObjectId('6555fb1420bb43ebd8fd6e07'),
 'address': 'High Street, 200',
 'date': datetime.datetime(2021, 11, 26, 11, 20),
 'name': 'Ana',
 'userId': 13}

In [ ]:
# we can query by objectID
# in this case, we are using the _id from the first document inserted into the collection
pprint.pprint(mycol.find_one({"_id": x.inserted_id}))

{'_id': ObjectId('6555fa9120bb43ebd8fd6e03'),
 'address': 'Highway 37',
 'name': 'Peter Pan',
 'userId': 1}

In [ ]:
# retrieving several documents from a collection
for n in mycol.find():
    pprint.pprint(n)

{'_id': ObjectId('6555fa9120bb43ebd8fd6e03'),
 'address': 'Highway 37',
 'name': 'Peter Pan',
 'userId': 1}
{'_id': ObjectId('6555fb1420bb43ebd8fd6e04'),
 'address': 'Street One, 12',
 'date': datetime.datetime(2021, 11, 24, 11, 0),
 'name': 'Mike',
 'userId': 10}
{'_id': ObjectId('6555fb1420bb43ebd8fd6e05'),
 'address': 'Street Two, 20',
 'date': datetime.datetime(2021, 11, 25, 11, 10),
 'email': 'eliot@someplace.com',
 'name': 'Eliot',
 'userId': 11}
{'_id': ObjectId('6555fb1420bb43ebd8fd6e06'),
 'address': 'Street Two, 45',
 'date': datetime.datetime(2021, 11, 25, 11, 10),
 'email': 'mary@someplace2.com',
 'name': 'Mary',
 'userId': 12}
{'_id': ObjectId('6555fb1420bb43ebd8fd6e07'),
 'address': 'High Street, 200',
 'date': datetime.datetime(2021, 11, 26, 11, 20),
 'name': 'Ana',
 'userId': 13}
{'_id': ObjectId('6555fb1420bb43ebd8fd6e08'),
 'address': 'Street One, 50',
 'date': datetime.datetime(2021, 11, 27, 11, 10),
 'email': 'billy@someplace2.com',
 'name': 'Billy',
 'userId': 14}
{'_id': ObjectId('6555fb1420bb43ebd8fd6e09'),
 'address': 'Street Two, 2001',
 'date': datetime.datetime(2021, 11, 27, 11, 20),
 'name': 'Karl',
 'userId': 15}
{'_id': ObjectId('6555fb1420bb43ebd8fd6e0a'),
 'address': 'Street One, 5000',
 'date': datetime.datetime(2021, 11, 28, 11, 10),
 'email': 'bia@someplace2.com',
 'name': 'Bia',
 'userId': 16}

In [ ]:
# couting documents
mycol.count_documents({})

8

### 3.2) Range queries

In [ ]:
# range queries
# we want to retrieve all documents inserted before 25/11/2021
d = datetime.datetime(2021, 11, 25, 12)
for n in mycol.find({"date": {"$lt": d}}).sort("name", 1):
    pprint.pprint(n)

{'_id': ObjectId('6555fb1420bb43ebd8fd6e05'),
 'address': 'Street Two, 20',
 'date': datetime.datetime(2021, 11, 25, 11, 10),
 'email': 'eliot@someplace.com',
 'name': 'Eliot',
 'userId': 11}
{'_id': ObjectId('6555fb1420bb43ebd8fd6e06'),
 'address': 'Street Two, 45',
 'date': datetime.datetime(2021, 11, 25, 11, 10),
 'email': 'mary@someplace2.com',
 'name': 'Mary',
 'userId': 12}
{'_id': ObjectId('6555fb1420bb43ebd8fd6e04'),
 'address': 'Street One, 12',
 'date': datetime.datetime(2021, 11, 24, 11, 0),
 'name': 'Mike',
 'userId': 10}

**Question:** What is the corresponding SQL statement (`SELECT..FROM..WHERE`) for the `find()` method above?

In [ ]:
# regular expressions
# all addresses starting with S
myquery = { "address": { "$regex": "^S" } }

mydoc = mycol.find(myquery)

for x in mydoc:
  print(x)

{'_id': ObjectId('6555fb1420bb43ebd8fd6e04'), 'userId': 10, 'name': 'Mike', 'address': 'Street One, 12', 'date': datetime.datetime(2021, 11, 24, 11, 0)}
{'_id': ObjectId('6555fb1420bb43ebd8fd6e05'), 'userId': 11, 'name': 'Eliot', 'address': 'Street Two, 20', 'email': 'eliot@someplace.com', 'date': datetime.datetime(2021, 11, 25, 11, 10)}
{'_id': ObjectId('6555fb1420bb43ebd8fd6e06'), 'userId': 12, 'name': 'Mary', 'address': 'Street Two, 45', 'email': 'mary@someplace2.com', 'date': datetime.datetime(2021, 11, 25, 11, 10)}
{'_id': ObjectId('6555fb1420bb43ebd8fd6e08'), 'userId': 14, 'name': 'Billy', 'address': 'Street One, 50', 'email': 'billy@someplace2.com', 'date': datetime.datetime(2021, 11, 27, 11, 10)}
{'_id': ObjectId('6555fb1420bb43ebd8fd6e09'), 'userId': 15, 'name': 'Karl', 'address': 'Street Two, 2001', 'date': datetime.datetime(2021, 11, 27, 11, 20)}
{'_id': ObjectId('6555fb1420bb43ebd8fd6e0a'), 'userId': 16, 'name': 'Bia', 'address': 'Street One, 5000', 'email': 'bia@someplace2.com', 'date': datetime.datetime(2021, 11, 28, 11, 10)}

### 3.3) Updating documents

In [ ]:
# updating data

# filter condition
myquery = { "address": "High Street, 200" }
# update rule
newvalues = { "$set": { "address": "High Street, 2000" } }

# we can use update_one or update_many
mycol.update_many(myquery, newvalues)

# print "customers" after the update:
for x in mycol.find():
  print(x)

{'_id': ObjectId('6555fa9120bb43ebd8fd6e03'), 'userId': 1, 'name': 'Peter Pan', 'address': 'Highway 37'}
{'_id': ObjectId('6555fb1420bb43ebd8fd6e04'), 'userId': 10, 'name': 'Mike', 'address': 'Street One, 12', 'date': datetime.datetime(2021, 11, 24, 11, 0)}
{'_id': ObjectId('6555fb1420bb43ebd8fd6e05'), 'userId': 11, 'name': 'Eliot', 'address': 'Street Two, 20', 'email': 'eliot@someplace.com', 'date': datetime.datetime(2021, 11, 25, 11, 10)}
{'_id': ObjectId('6555fb1420bb43ebd8fd6e06'), 'userId': 12, 'name': 'Mary', 'address': 'Street Two, 45', 'email': 'mary@someplace2.com', 'date': datetime.datetime(2021, 11, 25, 11, 10)}
{'_id': ObjectId('6555fb1420bb43ebd8fd6e07'), 'userId': 13, 'name': 'Ana', 'address': 'High Street, 2000', 'date': datetime.datetime(2021, 11, 26, 11, 20)}
{'_id': ObjectId('6555fb1420bb43ebd8fd6e08'), 'userId': 14, 'name': 'Billy', 'address': 'Street One, 50', 'email': 'billy@someplace2.com', 'date': datetime.datetime(2021, 11, 27, 11, 10)}
{'_id': ObjectId('6555fb1420bb43ebd8fd6e09'), 'userId': 15, 'name': 'Karl', 'address': 'Street Two, 2001', 'date': datetime.datetime(2021, 11, 27, 11, 20)}
{'_id': ObjectId('6555fb1420bb43ebd8fd6e0a'), 'userId': 16, 'name': 'Bia', 'address': 'Street One, 5000', 'email': 'bia@someplace2.com', 'date': datetime.datetime(2021, 11, 28, 11, 10)}

### 3.4) Aggregation pipelines

**Aggregation pipelines** transform your documents into aggregated results based on selected pipeline stages.

Common uses for aggregation include:
* Grouping data by a given expression.
* Calculating results based on multiple fields and storing those results in a new field.
* Filtering data to return a subset that matches a given criteria.
* Sorting data.

In [ ]:
# Aggregations

# we create a new collection...
mycol2 = mydb["orders"]

# ...and insert some documents
result = mycol2.insert_many( [
   { "_id" : 0, "productName" : "Steel beam", "status" : "new", "quantity" : 10 },
   { "_id" : 1, "productName" : "Steel beam", "status" : "urgent", "quantity" : 20 },
   { "_id" : 2, "productName" : "Steel beam", "status" : "urgent", "quantity" : 30 },
   { "_id" : 3, "productName" : "Iron rod", "status" : "new", "quantity" : 15 },
   { "_id" : 4, "productName" : "Iron rod", "status" : "urgent", "quantity" : 50 },
   { "_id" : 5, "productName" : "Iron rod", "status" : "urgent", "quantity" : 10 },
   { "_id" : 6, "productName" : "Steel beam", "status" : "new", "quantity" : 10 },
   { "_id" : 7, "productName" : "Brick", "status" : "urgent", "quantity" : 20 },
   { "_id" : 8, "productName" : "Mortar", "status" : "urgent", "quantity" : 30 },
   { "_id" : 9, "productName" : "Sand bag", "status" : "new", "quantity" : 15 }
] )
# checking
result.inserted_ids

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

**Example:** we have a 2-stage pipeline to:

* filter documents by a given criteria, and
* calculate the quantity of each product

The `$match` stage:
* filters the documents to those with a status of urgent.
* outputs the filtered documents to the `$group` stage.

The `$group` stage:
* groups the input documents by `productName`.
* uses `$sum` to calculate the total quantity for each `productName`, which is stored in the `sumQuantity` field returned by the aggregation pipeline.

In [ ]:
# 2-stage pipeline
result = mycol2.aggregate([
    # filter by documents with status = urgent
   { "$match": { "status": "urgent" } },
    # group by product name and sum the quantity for each product
   { "$group": { "_id" : "$productName", "sumQuantity": { "$sum": "$quantity" } } }
])

# iterate over the result
for x in result:
    pprint.pprint(x)

{'_id': 'Mortar', 'sumQuantity': 30}
{'_id': 'Iron rod', 'sumQuantity': 60}
{'_id': 'Brick', 'sumQuantity': 20}
{'_id': 'Steel beam', 'sumQuantity': 50}

---

## Step 4 - Indices

MongoDB implements [different types of indexes](https://docs.mongodb.com/manual/indexes/).

In [ ]:
# we can create an index based on `userId`
result = mydb.customers.create_index([('userId', pymongo.ASCENDING)], unique=True)
# checking the existing indices in the database => only one for now
sorted(list(mydb.customers.index_information()))

['_id_', 'userId_1']

In [ ]:
# inserting some data
newDocs = [{"userId": 200,
            "name": "Steve",
            "address": "Street One, 120",
            "date": datetime.datetime(2021, 11, 27, 11, 0)},
           {"userId": 211,
            "name": "Gracie",
            "address": "Street Two, 20",
            "email": "gracie@otherplace.com",
            "date": datetime.datetime(2021, 11, 27, 11, 10)},
           {"userId": 212,
            "name": "Penny",
            "address": "High Street, 200",
            "email": "penny@someplace2.com",
            "date": datetime.datetime(2021, 11, 28, 11, 10)}]
# bulk insertion
result = mycol.insert_many(newDocs)
result.inserted_ids

[ObjectId('6555fdf220bb43ebd8fd6e0b'),
 ObjectId('6555fdf220bb43ebd8fd6e0c'),
 ObjectId('6555fdf220bb43ebd8fd6e0d')]

Once we have the index, we can try to insert a new document with a **duplicated userId**.

In [ ]:
newDoc = {"userId": 200, "name": "Bruce", "address": "Street Four, 120", "date": datetime.datetime(2021, 11, 28, 11, 0)}

result = mycol.insert_one(newDoc)
result.inserted_ids

DuplicateKeyError: ignored

---

## Step 5 - Closing the connection

Uncomment the following cell to terminate the connection to your Atlas cluster. **You can do that after doing the Homework section below**. Remember to terminate your M0 cluster on Atlas as well.

In [ ]:
#myclient.close()

---

# HOMEWORK - connecting to an existing database on Atlas

In this exercise, you should connect to your Atlas cluster and use the `sample.mflix` database and the `movies` collection to run some data definition and data manipulation commands.

You can use the same `myclient` variable to refer to your existing connection (from the previous exercise).

In [ ]:
# connect to the `sample.mflix` database
# you can use the existing `myclient` variable
mydb2 = # YOUR CODE HERE

In [ ]:
# select the `movies` collection
mycol2 = # YOUR CODE HERE

In [ ]:
import pprint

# we can open a cursor to iterate over all the documents
# we limit to the first 20 documents
for doc in mycol2.find().limit(20):
  pprint.pprint(doc)

**A) Repeat the same queries we ran in Activity 1, step 8**. Have a look at the [documentation](https://www.mongodb.com/docs/mongodb-shell/crud/read/) for help.

In [ ]:
## YOUR CODE HERE

**B) Experiment with the aggregation pipelines**. Have a look at the [documentation](https://www.mongodb.com/docs/mongodb-shell/run-agg-pipelines/) for help.

In [ ]:
## YOUR CODE HERE