possible directions: remove empty values, remove stop words, find most common words

In [2]:
import pandas as pd

df = pd.read_csv('data.csv')
df.head()

,title,content,score
0,LSE accomodation for couples,Hi! \r\n\r\nI will be moving with my partner t...,3
1,which accommodation do rich international stud...,where do rich students live during their studi...,0
2,Bankside or Garden Hall,Im a general course student and can't choose b...,2
3,Is the reserve list separate from an ordinary ...,I got placed on a reserve list for the Masters...,2
4,Postgraduate housing,Hello! I was just accepted into LSE for my mas...,2

In [3]:
# remove stopwords
import nltk
from nltk.corpus import stopwords
sw = stopwords.words('English')

stop_words = set(stopwords.words('english'))
df['title'] = df['title'].apply(lambda x: ' '.join([word for word in x.split() if word.lower() not in stop_words]))
df['content'] = df['title'].apply(lambda x: ' '.join([word for word in x.split() if word.lower() not in stop_words]))
df.head()

,title,content,score
0,LSE accomodation couples,LSE accomodation couples,3
1,accommodation rich international student stay in?,accommodation rich international student stay in?,0
2,Bankside Garden Hall,Bankside Garden Hall,2
3,reserve list separate ordinary waitlist?,reserve list separate ordinary waitlist?,2
4,Postgraduate housing,Postgraduate housing,2

In [4]:
# remove empty values
df.dropna(inplace = True)
df.head()

,title,content,score
0,LSE accomodation couples,LSE accomodation couples,3
1,accommodation rich international student stay in?,accommodation rich international student stay in?,0
2,Bankside Garden Hall,Bankside Garden Hall,2
3,reserve list separate ordinary waitlist?,reserve list separate ordinary waitlist?,2
4,Postgraduate housing,Postgraduate housing,2

In [5]:
# remove the puntuation 
import string 
nltk.download('punkt')

def remove_punctuations(text):
    if isinstance(text, str):
        translator = str.maketrans('', '', string.punctuation)
        return text.translate(translator)
    else:
        return text

df = df.fillna('')
df = df.applymap(remove_punctuations)
df.head(50)

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\86157\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

,title,content,score
0,LSE accomodation couples,LSE accomodation couples,3
1,accommodation rich international student stay in,accommodation rich international student stay in,0
2,Bankside Garden Hall,Bankside Garden Hall,2
3,reserve list separate ordinary waitlist,reserve list separate ordinary waitlist,2
4,Postgraduate housing,Postgraduate housing,2
5,PPE entry requirements,PPE entry requirements,1
6,apply graduate admissions best chance necessar...,apply graduate admissions best chance necessar...,1
7,LSE Equivalent Linear Algebra,LSE Equivalent Linear Algebra,2
8,GSS Application,GSS Application,0
9,Urbanest Westminster,Urbanest Westminster,2
10,difficult transfer Department Statistics Mathe...,difficult transfer Department Statistics Mathe...,3
11,LSE Decision left,LSE Decision left,1
12,easy switch undergrad courses,easy switch undergrad courses,6
13,Group chat,Group chat,4
14,Urbanest Westminster Room Rent Summer,Urbanest Westminster Room Rent Summer,0
15,Political Science Political Economy MSc,Political Science Political Economy MSc,1
16,International Relations MSc,International Relations MSc,2
17,LSE Msc Economic History,LSE Msc Economic History,1
18,Group 202324 MSc students Department Government,Group 202324 MSc students Department Government,1
19,LSE Summer Housing Accommodation,LSE Summer Housing Accommodation,1
20,highly desirable mean,highly desirable mean,1
21,opinions lse,opinions lse,6
22,HELP Statement Purpose Inquiry,HELP Statement Purpose Inquiry,1
23,LSE vs HEC,LSE vs HEC,1
24,reinstating application next admissions cycle ...,reinstating application next admissions cycle ...,3
25,LSE vs UCL vs Warwick PPE,LSE vs UCL vs Warwick PPE,15
26,LSE WhatsApp groups,LSE WhatsApp groups,6
27,Survey friends Roommates,Survey friends Roommates,4
28,WhatsApp GC Dept Media amp Comms Postgrad offe...,WhatsApp GC Dept Media amp Comms Postgrad offe...,1
29,Rejection,Rejection,0
30,likely get funding awards,likely get funding awards,3
31,got offer GSS,got offer GSS,9
32,Offer,Offer,0
33,Online Groups,Online Groups,10
34,Hall Culture,Hall Culture,2
35,Applied bsc finance bsc economics haven’t hear...,Applied bsc finance bsc economics haven’t hear...,2
36,Profile Evaluation LSE MSc Finance amp Economics,Profile Evaluation LSE MSc Finance amp Economics,3
37,leave late,leave late,3
38,Msc EME,Msc EME,2
39,simply qualified,simply qualified,3
40,get GSS whats best strategy get funding awards,get GSS whats best strategy get funding awards,6
41,Lse General Course 2324,Lse General Course 2324,2
42,LSE vs UCL MSc Statistics,LSE vs UCL MSc Statistics,1
43,Incoming MSc Housing,Incoming MSc Housing,1
44,give hope,give hope,2
45,anyone else issues Graduate Support Scheme app...,anyone else issues Graduate Support Scheme app...,4
46,happens bad fail summative whole class,happens bad fail summative whole class,4
47,economic history undergrad 2023,economic history undergrad 2023,1
48,LSE 2023,LSE 2023,0
49,Graduate Support Scheme,Graduate Support Scheme,5

In [6]:
# 100 most common words for the titles of posts
import collections 
all_text_title = ' '.join(df['title'])
word_counts = collections.Counter(all_text_title.split())
print(word_counts.most_common(100))

[('LSE', 216), ('MSc', 71), ('Economics', 36), ('student', 35), ('vs', 34), ('offer', 34), ('application', 32), ('Finance', 29), ('year', 29), ('accommodation', 28), ('Graduate', 28), ('students', 27), ('anyone', 27), ('Student', 24), ('International', 23), ('Summer', 21), ('Accommodation', 21), ('get', 20), ('BSc', 20), ('amp', 18), ('first', 18), ('Application', 17), ('undergrad', 17), ('lse', 17), ('Undergraduate', 17), ('apply', 16), ('Masters', 16), ('School', 16), ('Political', 15), ('Msc', 15), ('Support', 15), ('got', 14), ('masters', 14), ('advice', 14), ('course', 14), ('help', 14), ('international', 13), ('GSS', 13), ('courses', 13), ('Science', 13), ('Bsc', 13), ('Hall', 12), ('entry', 12), ('economics', 12), ('Undergrad', 12), ('graduate', 11), ('admissions', 11), ('Urbanest', 11), ('Mathematics', 11), ('heard', 11), ('Course', 11), ('UK', 11), ('2', 11), ('London', 11), ('Bankside', 10), ('Economy', 10), ('UCL', 10), ('late', 10), ('2023', 10), ('online', 10), ('Admission', 10), ('program', 10), ('undergraduate', 10), ('Help', 10), ('passfield', 10), ('social', 10), ('Advice', 10), ('requirements', 9), ('best', 9), ('History', 9), ('Housing', 9), ('Statement', 9), ('holders', 9), ('finance', 9), ('Scheme', 9), ('Questions', 9), ('Social', 9), ('Looking', 9), ('summer', 9), ('Statistics', 8), ('Group', 8), ('financial', 8), ('awards', 8), ('Culture', 8), ('General', 8), ('Also', 8), ('Halls', 8), ('group', 8), ('Econ', 8), ('Personal', 8), ('Policy', 8), ('Applying', 8), ('management', 8), ('general', 8), ('Sidney', 8), ('Webb', 8), ('Accomodation', 8), ('waiting', 8), ('Hi', 8), ('Financial', 8)]

In [7]:
# 100 most common words for the content of posts
all_text_content = ' '.join(df['content'])
word_counts = collections.Counter(all_text_content.split())
print(word_counts.most_common(100))

[('LSE', 216), ('MSc', 71), ('Economics', 36), ('student', 35), ('vs', 34), ('offer', 34), ('application', 32), ('Finance', 29), ('year', 29), ('accommodation', 28), ('Graduate', 28), ('students', 27), ('anyone', 27), ('Student', 24), ('International', 23), ('Summer', 21), ('Accommodation', 21), ('get', 20), ('BSc', 20), ('amp', 18), ('first', 18), ('Application', 17), ('undergrad', 17), ('lse', 17), ('Undergraduate', 17), ('apply', 16), ('Masters', 16), ('School', 16), ('Political', 15), ('Msc', 15), ('Support', 15), ('got', 14), ('masters', 14), ('advice', 14), ('course', 14), ('help', 14), ('international', 13), ('GSS', 13), ('courses', 13), ('Science', 13), ('Bsc', 13), ('Hall', 12), ('entry', 12), ('economics', 12), ('Undergrad', 12), ('graduate', 11), ('admissions', 11), ('Urbanest', 11), ('Mathematics', 11), ('heard', 11), ('Course', 11), ('UK', 11), ('2', 11), ('London', 11), ('Bankside', 10), ('Economy', 10), ('UCL', 10), ('late', 10), ('2023', 10), ('online', 10), ('Admission', 10), ('program', 10), ('undergraduate', 10), ('Help', 10), ('passfield', 10), ('social', 10), ('Advice', 10), ('requirements', 9), ('best', 9), ('History', 9), ('Housing', 9), ('Statement', 9), ('holders', 9), ('finance', 9), ('Scheme', 9), ('Questions', 9), ('Social', 9), ('Looking', 9), ('summer', 9), ('Statistics', 8), ('Group', 8), ('financial', 8), ('awards', 8), ('Culture', 8), ('General', 8), ('Also', 8), ('Halls', 8), ('group', 8), ('Econ', 8), ('Personal', 8), ('Policy', 8), ('Applying', 8), ('management', 8), ('general', 8), ('Sidney', 8), ('Webb', 8), ('Accomodation', 8), ('waiting', 8), ('Hi', 8), ('Financial', 8)]

In [8]:
# 100 most common words for the titles of the highest scoring 50 posts 
highest_scoring = df.sort_values(['score'], ascending = False).groupby('score').head(50)
all_text_title = ' '.join(highest_scoring['title'])
word_counts = collections.Counter(all_text_title.split())
print(word_counts.most_common(100))

[('LSE', 102), ('MSc', 38), ('vs', 21), ('Graduate', 19), ('application', 19), ('offer', 16), ('students', 14), ('accommodation', 13), ('student', 13), ('Political', 11), ('Economics', 11), ('Undergraduate', 11), ('anyone', 11), ('Student', 11), ('Support', 10), ('Masters', 10), ('get', 10), ('undergrad', 9), ('Finance', 9), ('London', 8), ('Summer', 8), ('advice', 8), ('International', 8), ('Science', 8), ('masters', 8), ('GSS', 8), ('Scheme', 8), ('Accommodation', 8), ('first', 8), ('year', 8), ('UK', 8), ('online', 8), ('lse', 8), ('2023', 8), ('Economy', 7), ('Msc', 7), ('Undergrad', 6), ('UCL', 6), ('Help', 6), ('School', 6), ('Sidney', 6), ('Webb', 6), ('waiting', 6), ('help', 6), ('Applying', 6), ('course', 6), ('History', 6), ('group', 6), ('apply', 6), ('BSc', 6), ('Bsc', 6), ('financial', 6), ('Housing', 6), ('management', 6), ('High', 5), ('Holborn', 5), ('got', 5), ('Online', 5), ('Accomodation', 5), ('graduate', 5), ('entry', 5), ('someone', 5), ('Urbanest', 5), ('social', 5), ('best', 5), ('late', 5), ('like', 4), ('Advice', 4), ('Application', 4), ('class', 4), ('live', 4), ('good', 4), ('history', 4), ('acceptance', 4), ('easy', 4), ('awards', 4), ('Hi', 4), ('looking', 4), ('Anyone', 4), ('House', 4), ('CAS', 4), ('Admission', 4), ('amp', 4), ('courses', 4), ('possible', 4), ('holders', 4), ('passfield', 4), ('international', 4), ('Looking', 4), ('Financial', 4), ('Studies', 4), ('go', 4), ('Scholarship', 4), ('program', 4), ('Questions', 4), ('bad', 4), ('Statement', 4), ('applying', 4), ('Social', 4), ('chances', 4)]

In [9]:
# 100 most common words for the content of the highest scoring 50 posts
all_text_title = ' '.join(highest_scoring['content'])
word_counts = collections.Counter(all_text_title.split())
print(word_counts.most_common(100))

[('LSE', 102), ('MSc', 38), ('vs', 21), ('Graduate', 19), ('application', 19), ('offer', 16), ('students', 14), ('accommodation', 13), ('student', 13), ('Political', 11), ('Economics', 11), ('Undergraduate', 11), ('anyone', 11), ('Student', 11), ('Support', 10), ('Masters', 10), ('get', 10), ('undergrad', 9), ('Finance', 9), ('London', 8), ('Summer', 8), ('advice', 8), ('International', 8), ('Science', 8), ('masters', 8), ('GSS', 8), ('Scheme', 8), ('Accommodation', 8), ('first', 8), ('year', 8), ('UK', 8), ('online', 8), ('lse', 8), ('2023', 8), ('Economy', 7), ('Msc', 7), ('Undergrad', 6), ('UCL', 6), ('Help', 6), ('School', 6), ('Sidney', 6), ('Webb', 6), ('waiting', 6), ('help', 6), ('Applying', 6), ('course', 6), ('History', 6), ('group', 6), ('apply', 6), ('BSc', 6), ('Bsc', 6), ('financial', 6), ('Housing', 6), ('management', 6), ('High', 5), ('Holborn', 5), ('got', 5), ('Online', 5), ('Accomodation', 5), ('graduate', 5), ('entry', 5), ('someone', 5), ('Urbanest', 5), ('social', 5), ('best', 5), ('late', 5), ('like', 4), ('Advice', 4), ('Application', 4), ('class', 4), ('live', 4), ('good', 4), ('history', 4), ('acceptance', 4), ('easy', 4), ('awards', 4), ('Hi', 4), ('looking', 4), ('Anyone', 4), ('House', 4), ('CAS', 4), ('Admission', 4), ('amp', 4), ('courses', 4), ('possible', 4), ('holders', 4), ('passfield', 4), ('international', 4), ('Looking', 4), ('Financial', 4), ('Studies', 4), ('go', 4), ('Scholarship', 4), ('program', 4), ('Questions', 4), ('bad', 4), ('Statement', 4), ('applying', 4), ('Social', 4), ('chances', 4)]

In [27]:
# Save the 100 most common words
# Specify the file name
file_name = "words.txt"

# Open the file in write mode
with open(file_name, "w") as file:
    # Loop through the list and write each item to a new line in the file
    for item, count in word_counts.most_common(100):
        file.write(item  + ' ' + str(count) + '\n')