In [1]:
import json

#retrieve required information from keys.json(private file)
with open('keys.json') as f:
    keys = json.load(f)
    
app_id = keys['reddit']['app_id']
app_secret = keys['reddit']['app_secret']
username = keys['reddit']['username']
password = keys['reddit']['password']

In [2]:
import requests.auth

#request a token
client_auth = requests.auth.HTTPBasicAuth(app_id, app_secret)
post_data = {'grant_type': 'password', 
             'username': username, 
             'password': password}
headers = {'User-Agent': f'testing lse/0.0.1 by {username}'}

r = requests.post('https://www.reddit.com/api/v1/access_token',
                  auth=client_auth, data=post_data, headers=headers)

access_token = json.loads(r.text)['access_token']

In [3]:
#use the access token to send request
headers = {"Authorization": f"bearer {access_token}", 
           'User-Agent': f'lse/0.0.1 by {username}'}

r = requests.get('https://oauth.reddit.com/r/TheLse/new',headers=headers, params={'limit':'100'})

In [5]:
import pandas as pd
import time

#store the information into a pandas dataframe
df = pd.DataFrame()

#loop through 10 times to get 1000 posts
for i in range(9):
    for post in r.json()['data']['children']:
        #concat the new posts into the original dataframe
        post_df = pd.DataFrame.from_dict({'title':[post['data']['title']], 'content':[post['data']['selftext']], 'score':[post['data']['score']]})
        df = pd.concat([df,post_df], ignore_index=True)
    time.sleep(1)
    #get the last post id and update the API request
    last_post_id = r.json()['data']['after']
    r = requests.get('https://oauth.reddit.com/r/TheLse/new',headers=headers, params={'limit':'100', 'after':last_post_id})

In [6]:
#look at the collected data
df

,title,content,score
0,LSE accomodation for couples,Hi! \n\nI will be moving with my partner to Lo...,3
1,which accommodation do rich international stud...,where do rich students live during their studi...,0
2,Bankside or Garden Hall,Im a general course student and can't choose b...,2
3,Is the reserve list separate from an ordinary ...,I got placed on a reserve list for the Masters...,2
4,Postgraduate housing,Hello! I was just accepted into LSE for my mas...,2
...,...,...,...
846,Update to waiting for decades + advice for fut...,Hi! I made [a post](https://www.reddit.com/r/T...,12
847,Advice on Teachers Reference for Undergrad App...,As part of my undergrad application to LSE for...,2
848,international undergrad applicants???,a bunch of people i know still haven’t receive...,3
849,Winter/March holidays,So am I wrong or are the winter and March/Apri...,1
850,Differemt price for the same room?,Hi. Was checking room availability at Passfiel...,2

In [9]:
#convert the data into a csv file
df.to_csv('data.csv', index=False)